# WHINT Integration Cockpit API Configuration
WHINT_API_BASE_URL=https://whint.prod.apimanagement.eu10.hana.ondemand.com:443/wic
WHINT_API_X_API_KEY=
WHINT_USERNAME=
WHINT_PASSWORD=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=


